.bigEdit {
	background: white;
	width: 98%;
	height: 60px;
	margin: auto;
	margin-bottom: 60px;
	padding-left: 30px;
	line-height: 60px;
	font-size: 1.5rem;
	font-weight: 600;
}
radio {
	width: 40px;
	margin-top: 40px;
	margin-left: 0px;
}
.submitButton {
	text-align: center;
}
input[type="submit"] {
	width: 300px;
	height: 60px;
	font-size: 1.5rem;
	font-weight: 600;
	background: #adea98;
	border: 0px;
	margin:15px auto;
}
input[type="submit"]:hover {
	box-shadow: 0px 0px 5px 5px gray;
}