body, h1, h2, h3, h4, h5, h6, p, address, header, footer, section, aside,
	nav, ul, ol, li, dl, dt, dd, input, textarea, select, button {
	font-family: 'Malgun Gothic', sans-serif;
	font-size: 14px;
	color: #222328;
}

body {
	background-image:
		url(https://roman-flossler.github.io/StoryShowGallery/img/bg.png);
}

li {
	list-style: none;
}

.container {
	width: 550px;
	margin: auto;
}